body{
  background-color: #F1C0E8 ;
}


.mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid #ccc; */
    /* background: #fff; */
    overflow: auto;
    outline: none;
    padding: 20px;
    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 8%);
    box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 8%);
  }
  .logo_image{
    width: 80px;
  }
  
  
  .myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
  }
  
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  .closeModal{
    position: absolute;
    right: 3%;
    color: white!important;
    top: 3%;
  }

  .private-label{
    color: white;
    font-size: 25px;
  }

   
/* .ps_background {
  background-image: linear-gradient(
    90deg, #02004c 0%, #02004b 69%, #02004b 100%);
} */
.ps-logo-area{
}
.rating{
  margin-top: 30px;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.7;
}
.sale_line{
  height: 8px;
  background-color: white;
  margin-top: 20px;
  position: relative;
}
.sale_percent{
  background-color: orange;
  width: 70px;
  height: 8px;
  position: absolute;
  z-index: 2;
}
.private_period{
  color: #868dff;
  font-size: 16px;
  margin-top: 30px;
}

.wallet_connect_btn{
  width: 200px;
  height: 50px;
  border-radius: 50px;
  margin-top: 10px;
  color: black;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.wallet_connect_btn:hover {
  background-color: #F1C0E8;
}

.content-head{
  font-size: 22px;
  color: black;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
}

.content_body{
  color: black;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
}